*{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}


/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 150px;
  background-color: #f1f9fff5; /* Color de fondo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

.separador{
  position: absolute;
  width: 100px;
  
}

.alert-good{
  background: #e2fde3;
  color: #0ebd34;
  font-weight: bold;
  height: 40px;
  padding: 8px;
  border: 2px solid rgb(180, 255, 205);
  border-radius: 6px;
  opacity: 1; 
  transition: opacity 0.5s ease;
}

.alert-false{
  background: #fde5e2;
  color: #bd0e0e;
  font-weight: bold;
  height: 40px;
  padding: 8px;
  border: 2px solid rgb(255, 87, 87);
  border-radius: 6px;
  opacity: 1; 
  transition: opacity 0.5s ease;
}
.img-header img {
  width: 150px;
  margin-right: 140vh;
}

.navbar ul {
  list-style: none;
  margin: 20px;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin-left: 20px;
  position: relative;
}

.navbar a {
  color: #070707;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  transition: color 0.3s ease; /* Transición de color suave */
}

.navbar a:hover {
  color: #ff9e03; 
  font-weight: 700;
  
}

.navbar ul ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 200px; /* Ancho mínimo */

}





.close {
  
  background-color: #ff190075; /* Color de fondo */
  border-radius: 5px;
  padding: 10px 20px;
}

.close:hover {
  background-color: #ff1500a4; /* Color al pasar el ratón */
}


  .cont-form{
    align-items: center;
    justify-content: center;
    width: 900px;
    position: relative;
    margin-left: 25%;

  }

  .txt-cont{
    position: relative;
    font-weight: 600;
    margin-left: 38%;
    display: flex;
    align-items: center;
    color: #ff9900;
    margin-top: 5%;
  }

  .form-one{
    position: relative;
    padding: 50px;
  }
  .donlawn{
    position: relative;
    margin-left: 89%;
  }
  .btn-sendmail{
    position: relative;
    margin-left: 120%;
    
  }

  .txt-history{
    padding: 70px;
    position: relative;
    font-size: 50px;
    font-weight: 600;
    margin-left: 10% ;
  }
  .history-down{
    display: none;
  }
  .view-history{
    display: block;
  }
  .fecha-input{

    visibility: hidden;
  
  }

  .fecha-input-hidden{
    display: none;
    border-top: #ffb4b4;
    border-left: none;
    border-right: none;
    border-color: rgb(255, 136, 0) ;
    outline: none;
  }


  .btn-fecha{
    position: relative;
    font-weight: 700;
    cursor: pointer;
    top: 4.5vh;
    left: 100%;
    z-index: 1;
  }

  .btn-fecha:hover{
    text-decoration: underline;
    color: rgb(67, 127, 255);
  }

  .svg{
    position:fixed;
    left: 130vh;
    margin: 0;
    padding: 0;
    top: 100px;
    width: 1000px;
    height: 1000px;
    background-color: #424e4500;
    z-index: -1;
  }
  .svg2{
    position:fixed;
    left: 0vh;
    margin: 0;
    padding: 0;
    top: 1px;
    width: 1000px;
    height: 1000px;
    background-color: #424e4500;
    z-index: -1;
  }
 
  .grafica {
    position: absolute;
    left: 85%;
    bottom: 60%;
    transform: translate(-50%, 50%);
  }

  .table-smaller {
    font-size: 12px; 
}

.table-smaller th,
.table-smaller td {
    padding: 0rem; 
}

.table-smaller th {
    text-align: center;
} 

.table-smaller td {
    text-align: left; 
}
.btn-sendmail {
  border:none;
  background-color: transparent;
}
.btn-descargar{
  border:none;
  background-color: transparent;
}
.btn-img:hover{
  width: 21px;
}


@media (max-width: 1400px){
  .cont-form{
    margin-left:15%;
  }
  .grafica{
    display: none;
  }

  .img-header{
    width: 120px;
    margin-right: 120vh;
  }
}

