<!doctype html>

<html lang="en"> 

 <head> 

  <meta charset="UTF-8"> 

  <title>CodePen - Animated Login Form using Html &amp; CSS Only</title> 

  <link rel="stylesheet" href="../static/css/login.css">

 </head> 

 <body> <!-- partial:index.partial.html --> 

  <section> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
    <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
     <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
      <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
         <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
           <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
             <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
              <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
               <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                 <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                  <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                   <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                    <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                    <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                     <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                      <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                         <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                           <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                             <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                              <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                               <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                 <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                                 <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                  <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                   <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                    <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                     <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                      <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                         <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                           <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                             <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                              <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                               <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                 <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                  <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                   <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                    <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                     <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                      <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                                                       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                         <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                           <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                             <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                              <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                               <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                 <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                  <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                   <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                    <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                     <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                      <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                         <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                           <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                             <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                              <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                               <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                 <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                  <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                   <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                    <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                     <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                      <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                         <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                           <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                             <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                              <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                               <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                 <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                  <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                                                                                                  <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                   <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                    <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                     <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                      <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                                                                                                       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                                                                                                       <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                        <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                         <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                          <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                           <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                            <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                             <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                              <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                               <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                                <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 
                                                                                                                <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                                 <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                                  <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span>
                                                                                                                   <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> <span><img class="img" src="../static/img/IconoGEP.png" alt="logo"></span> 

   <div class="signin"> 

    <div class="content"> 
    <img src="../static/img/Logo-blancoGEP.png" alt="">
    <h1 class="link" style="color:aliceblue">INTRANET</h1>
     <h2>Inicie Sesión</h2> 

     <div class="form"> 

      <div class="inputBox"> 

       <input type="text" required> <i>Nombre de usuario</i> 

      </div> 

      <div class="inputBox"> 

       <input type="password" required> <i>Contraseña</i> 

      </div> 

      <div class="links"> <a href="#">Olvide mi Contraseña</a> <a href="#">.</a> 

      </div> 

      <div class="inputBox"> 

       <input type="submit" value="Iniciar"> 

      </div> 

     </div> 

    </div> 

   </div> 

  </section> <!-- partial --> 

 </body>

</html>