<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="shortcut icon" href="../static/img/IconoGEP.png">
    <title>Reasignacion y Actualizacion</title>
</head>

    
    
<body>

    <video id="background-video" autoplay loop muted poster="../static/img/IconoGEP.png">
        <source src="../static/img/Libro - 84005.mp4" type="video/mp4">
      </video>
        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        <img src="../static/img/LogoGEP-negro.jpg" > <br><br>
                        
                        Inicie sesión  
                        
                    </div>
                    <form action="/login" method="post" id="loginform">
                        <input type="text" name="username" title="Usuario" placeholder="Ingrese Usuario" required="" >
                        
                        <input type="password" name="password" title="contrasena" placeholder="Ingrese Contraseña"  required="">
                        
                        <button type="submit" title="Ingresar" name="Ingresar">Ingresar</button>
                    </form>
                    
                </div>
            
            </div>
        </div>
            
    
    
    
</body>
</html>