<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reasignacion</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>


<body style="background-color:#000000 ;">


  <s</s>
    <div class="title-two">
      <h1 class="title-reasigna" id="">Actualizacion de datos</h1>
    </div>
  

    
<hr class="border border-warning border-2 opacity-50">
<hr class="border border-warning border-2 opacity-50">

    


  <div class="table-updateServ">
    <table class="table table-light table-striped  form-update ">
     
      <tbody>
        <form  action="/updateServicios" method="post">
          <table>
              <tr>
                  <td>
                      <label>Numero de servicio</label>
                      <input type="text" name="servicio" value="{{dato0}}">
                  </td>
              </tr>
              <tr>
                  <td>
                      <label>Estado del servicio</label>
                      <input type="text" name="estado" list="drawfemails1"value="{{dato2}}" required placeholder="Seleccione el estado">
                      <datalist id="drawfemails1">
                          {% for row in estado %}
                              <option value="{{ row[0] }}">{{ row[1] }}</option>
                          {% endfor %}
                      </datalist>
                  </td>
              </tr>
              <tr>
                 
                  <td>
                      <label>Profesional</label>
                      <input type="text" name="proveedor" list="drawfemails" value="{{dato1}}"  placeholder="Seleccione el Profesional">
                      <datalist id="drawfemails">
                          {% for row in nombre %}
                              <option value="{{ row[0] }}">{{ row[1] }}</option>
                          {% endfor %}
                      </datalist>
                     
                      <input type="text" style="visibility: hidden;" name="proveedorAnt" list="drawfemails2" value="{{dato3}}"  placeholder="Seleccione el Profesional">
                    
                  </td>
              </tr>
              <tr>
                  <td>
                      <input type="submit" id="actualizar-btn"  class="btn btn-success" value="Actualizar">
                  </td>
              </tr>
          </table>
      </form>
      </tbody>
    </table>

  </div>

  <hr class="border border-warning border-2 opacity-50">
  <hr class="border border-warning border-2 opacity-50">


  <script src="../static/js/style.js"></script>
  <script type="text/javascript">
    document.getElementById('actualizar-btn').addEventListener('click', function() {
        // Envia un mensaje al documento principal
        window.parent.postMessage('recargar', '*');
    });
</script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
